<div id="header">
    <div id="logoAndName">
        <div id="logo">
            <img src="../../../assets/Images/logo.png">
        </div>
        <div id="name">
            <span>Nova</span><span>Tech</span>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li>Accueil</li>
            <li>Nos services</li>
            <li>Contact</li>
            <li>A porpos</li>
        </ul>
    </div>
    <div id="btn">
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
</div>
