<div id="header">
    <div id="logoAndName">
        <div id="logo">
            <img src="../../../assets/Images/logo.png">
        </div>
        <div id="name">
            <span>Nova</span><span>Tech</span>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a routerLink="" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="" routerLinkActive="active">Nos services</a></li>
            <li><a routerLink="" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="" routerLinkActive="active">A propos</a></li>
        </ul>
    </div>
    <div id="btn">
      <button mat-icon-button color="accent">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
</div>
