app-header, router-outlet {
    position: absolute;
    width: 100%;
}
app-header {
    z-index: 3;
}
#rightMenu {
    position: fixed;
    width: 60%;
    height: 100%;
    top: 80px;
    right: 10px;
}