<div id="container">
    <div id="overViews">
        <div class="overView">
            <div id="iconContainer">
                <mat-icon>design_services</mat-icon>
            </div>
            <div id="descContainer">
                <div id="title">Design UI futuriste</div>
                <div id="desc">Nous prenons le temps d'étudier vos attentes, de construire le meilleur plan de design adapté à votre situation, une palette de couleur et une charte graphique aux norme du Material design.</div>
            </div>
        </div>
        <div class="overView">
            <div id="iconContainer">
                <i nz-icon nzType="database" nzTheme="outline"></i>
            </div>
            <div id="descContainer">
                <div id="title">Base de donné</div>
                <div id="desc">Vous faciliter la tache dans le traitement de vos données est notre priorité. Des bases de donnés SQL aux NoSQL, nous vous assistons dans le choix et la conception selon vos utilisations.</div>
            </div>
        </div>
        <div class="overView">
            <div id="iconContainer">
                <mat-icon>apps</mat-icon>
            </div>
            <div id="descContainer">
                <div id="title">Application</div>
                <div id="desc">Bésoin d'une application web, mobile, desktop ? Nos ingénieurs vous proposent les dernières technologies et la meilleure achitecture d'application selon votre demande.</div>
            </div>
        </div>
        <div class="overView">
            <div id="iconContainer">
                <mat-icon>multiline_chart</mat-icon>
            </div>
            <div id="descContainer">
                <div id="title">Data Analytics</div>
                <div id="desc">Désormais il n'est plus question d'attendre une demande pour créer l'offre; vous pouver la prévoir grâce à nos outils d'analyse de données.</div>
            </div>
        </div>
    </div>
    <div id="descoverServices">
        <button mat-raised-button>Découvrir tout nos services</button>
    </div>
</div>
