<div id="container">
    <div id="overViews">
        <div class="overView">
            <div id="iconContainer">
                <mat-icon>design_services</mat-icon>
            </div>
            <div id="descContainer">
                <div id="title">Design UI futuriste</div>
                <div id="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui veritatis explicabo suscipit quis necessitatibus aspernatur hic, reiciendis beatae praesentium maiores nulla nemo magni tempora.</div>
            </div>
        </div>
        <div class="overView">
            <div id="iconContainer">
                <i nz-icon nzType="database" nzTheme="outline"></i>
            </div>
            <div id="descContainer">
                <div id="title">Base de donné</div>
                <div id="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui veritatis explicabo suscipit quis necessitatibus aspernatur hic, reiciendis beatae praesentium maiores nulla nemo magni tempora.</div>
            </div>
        </div>
        <div class="overView">
            <div id="iconContainer">
                <mat-icon>apps</mat-icon>
            </div>
            <div id="descContainer">
                <div id="title">Application</div>
                <div id="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui veritatis explicabo suscipit quis necessitatibus aspernatur hic, reiciendis beatae praesentium maiores nulla nemo magni tempora.</div>
            </div>
        </div>
        <div class="overView">
            <div id="iconContainer">
                <mat-icon>multiline_chart</mat-icon>
            </div>
            <div id="descContainer">
                <div id="title">Data & Analystics</div>
                <div id="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui veritatis explicabo suscipit quis necessitatibus aspernatur hic, reiciendis beatae praesentium maiores nulla nemo magni tempora.</div>
            </div>
        </div>
    </div>
    <div id="descoverServices">
        <button mat-raised-button>Découvrir tout nos services</button>
    </div>
</div>
