#container {
    width: 100%;
}
#container #overViews {
    width: 100%;
    display: flex;
}
#container #overViews .overView {
    width: 25%;
    height: auto;
}
#container #overViews .overView:nth-child(1) {
    background-color: #2840B6;
}
#container #overViews .overView:nth-child(2) {
    background-color: #2338A0;
}
#container #overViews .overView:nth-child(3) {
    background-color: #1F318C;
}
#container #overViews .overView:nth-child(4) {
    background-color: #1C2D7F;
}
#container #overViews .overView #iconContainer {
    width: 85%;
    height: 128px;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}
#container #overViews .overView #iconContainer mat-icon {
    font-size: 70px;
    height: 50%;
}
#container #overViews .overView #iconContainer i {
    font-size: 60px;
    height: 50%;
}
#container #overViews .overView #descContainer {
    width: 85%;
    height: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 5px;
}
#container #overViews .overView #descContainer #title {
    color: white;
    font-weight: bold;
    font-size: x-large;
}
#container #overViews .overView #descContainer #desc {
    margin-top: 20px;
    color: white;
    font-size: larger;
}
#container #descoverServices {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container #descoverServices button {
    font-size: x-large;
    padding: 15px;
    border-radius: 15px;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #container #overViews {
        flex-direction: column;
    }
    #container #overViews .overView {
        width: 100%;
        height: 310px;
    }
    #container #overViews .overView #iconContainer {
        width: 95%;
        margin: auto;
    }
    #container #overViews .overView #descContainer {
        width: 95%;
        margin: auto;
        padding-top: 10px;
    }
    #container #overViews .overView #descContainer #desc {
        margin-top: 10px;
    }
    #container #descoverServices button {
        font-size: large;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}