#menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #032b47c2;
    border-radius: 10px;
}
#menu li {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    list-style: none;
    padding-left: 10%;
}
#menu li:last-child {
    margin-bottom: 20px;
}
#menu li a {
    color: white;
}
#menu li a.active {
    margin-left: 10px;
    border-bottom: 1px solid white;
}