<div id="carousel">
  <div id="bgImg">
    <div id="imgContainer">
      <div id="cover"></div>
    </div>
  </div>
    <nz-carousel nzAutoPlay nzAutoPlaySpeed="6000">
      <div id="first" nz-carousel-content>
        <div id="descContainer">
          <div id="desc">
          </div>
        </div>
      </div>
      <div id="second" nz-carousel-content>
        <div id="descContainer">
          <div id="desc">
          </div>
        </div>
      </div>
      <div id="third" nz-carousel-content>
        <div id="descContainer">
          <div id="desc">
          </div>
        </div>
      </div>
    </nz-carousel>
</div>