#carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-image: url("../../../assets/Images/swiper-bg.jpg");
    background-size: 100% 100%;
}
#carousel #bgImg {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#carousel #bgImg #imgContainer {
    position: relative;
    width: 40%;
    height: 97%;
    margin-right: 7%;
    display: flex;
}
#carousel #bgImg #imgContainer #left {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url("./../../../assets/Images/one.png");
    background-size: 100% 100%;
}
#carousel #bgImg #imgContainer #right {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 10%;
    top: 2%;
    background-image: url("./../../../assets/Images/two.png");
    background-size: 100% 100%;
    transform: rotate(15deg);
}
#carousel nz-carousel {
    width: 100%;
    height: calc(100% - 100px);
}
#carousel nz-carousel #first, #carousel nz-carousel #second, #carousel nz-carousel #third {
    width: 100%;
    height: 100%;
    display: flex;
}
#carousel nz-carousel #first #descContainer, #carousel nz-carousel #second #descContainer, #carousel nz-carousel #third #descContainer {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel nz-carousel #descContainer #bckgDesign {
    position: absolute;
    width: 60%;
    height: 70%;
    filter: opacity(.3);
    background-color: black;
    z-index: 1;
}
#carousel nz-carousel #descContainer #desc {
    width: 60%;
    height: 70%;
    background-size: 100% 100%;
    z-index: 2;
    color: white;
}
#carousel nz-carousel #descContainer #desc #title {
    width: 90%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    font-size: xx-large;
}
#carousel nz-carousel #descContainer #desc #subTitle {
    width: 80%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    font-size: large;
}
#carousel nz-carousel #descContainer #desc #btn {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
#carousel nz-carousel #descContainer #desc #btn button {
    padding: 10px;
    margin-left: 10px;
    font-size: large;
    border-radius: 10px;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #carousel #bgImg {
        height: 100%;
        top: 0px;
        justify-content: center;
        filter: opacity(.5);
        background-color: black;
    }
    #carousel #bgImg #imgContainer {
        width: 90%;
        height: 65%;
        margin: auto;
    }
    #carousel #bgImg #imgContainer #cover {
        display: block;
    }
    #carousel nz-carousel #first, #carousel nz-carousel #second, #carousel nz-carousel #third {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #carousel nz-carousel #first #descContainer, #carousel nz-carousel #second #descContainer, #carousel nz-carousel #third #descContainer {
        width: 95%;
        height: 95%;
    }
    #carousel nz-carousel #descContainer #bckgDesign {
        width: 100%;
        height: 100%;
        filter: opacity(0);
    }
    #carousel nz-carousel #descContainer #desc {
        width: 100%;
        height: 100%;
    }
    #carousel nz-carousel #descContainer #desc #title {
        font-size: large;
    }
    #carousel nz-carousel #descContainer #desc #subTitle {
        font-size: medium;
    }
    #carousel nz-carousel #descContainer #desc #btn button {
        padding: 5px;
        font-size: medium;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}