<div id="container">
    <div id="title">
        Nous proposons trois plans différents qui couvrent les besoins des startups et des entreprises modernes.
    </div>
    <div id="services">
        <div class="one">
            <div id="titleBck"></div>
            <div id="titleBckCache"></div>
            <div id="titleTop">
                <span>Développement</span>
            </div>
            <div id="content">
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Design UI/UX</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Database design</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">API</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Application web</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Application mobile</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Application desktop</div>
                </div>
            </div>
            <div id="optionBtn">
                <button mat-raised-button>Afficher tout</button>
            </div>
        </div>
        <div class="one">
            <div id="titleBck"></div>
            <div id="titleBckCache"></div>
            <div id="titleTop">
                <span>Formation</span>
            </div>
            <div id="content">
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Impression 3d</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Développement d'application</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">IA & Robotique</div>
                </div>
            </div>
            <div id="optionBtn">
                <button mat-raised-button>Afficher tout</button>
            </div>
        </div>
        <div class="one">
            <div id="titleBck"></div>
            <div id="titleBckCache"></div>
            <div id="titleTop">
                <span>Suivi</span>
            </div>
            <div id="content">
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Incubation de projet</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Assistance / Audit systeme séccurité</div>
                </div>
                <div class="option">
                    <div id="arrow">
                        <mat-icon>double_arrow</mat-icon>
                    </div>
                    <div id="desc">Data Analytics / Business Intelligence</div>
                </div>
            </div>
            <div id="optionBtn">
                <button mat-raised-button>Afficher tout</button>
            </div>
        </div>
    </div>
</div>