#container {
    width: 100%;
    background-color: white;
}
#container #services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#container #title {
    width: 100%;
    height: 80px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    font-size: x-large;
    background-color: #F7F7F7;
    margin-bottom: 50px;
}
#container #services .one {
    position: relative;
    width: 370px;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
    background-color: white;
    border: 3px solid #eaeced;
}
#container #services .one #titleBck {
    position: absolute;
    width: 80%;
    top: -40px;
    left: 10%;
    border: 1px solid #012d44a6;
	border-color: transparent transparent #012d44a6 transparent;
	border-width: 30px;
}
#container #services .one #titleBckCache {
    position: absolute;
    width: 80%;
    height: 20px;
    left: 10%;
    top: 0px;
    background-color: white;
}
#container #services .one #titleTop {
    position: absolute;
    width: 62%;
    top: -10px;
    left: 19%;
    border: 1px solid #012C44;
	border-color: #012C44 transparent transparent transparent;
    border-width: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}
#container #services .one #titleTop span {
    position: absolute;
    top: -38px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}
#container #services .one:nth-child(2) #titleBck {
    border: 1px solid #f078009f;
	border-color: transparent transparent #f078009f transparent;
	border-width: 30px;
}
#container #services .one:nth-child(2) #titleTop {
    border: 1px solid #F07700;
	border-color: #F07700 transparent transparent transparent;
    border-width: 50px;
}
#container #services .one:nth-child(3) #titleBck {
    border: 1px solid #1b611ea8;
	border-color: transparent transparent #1b611ea8 transparent;
	border-width: 30px;
}
#container #services .one:nth-child(3) #titleTop {
    border: 1px solid #1B611E;
	border-color: #1B611E transparent transparent transparent;
    border-width: 50px;
}
#container #services .one #content {
    margin-top: 70px;
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
}
#container #services .one #content .option {
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid black;
}
#container #services .one #content .option:first-child {
    border-top: 1px solid black;
}
#container #services .one #content .option #arrow {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container #services .one #content .option #desc {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}
#container #services .one #optionBtn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container #services .one #optionBtn button {
    width: 60%;
    height: 80%;
    background-color: #2840B9;
    color: white;
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #container #title {
        padding-left: 30px;
        font-size: large;
    }
    #container #services .one {
        position: relative;
        width: 95%;
        height: 400px;
        margin: auto;
        margin-bottom: 50px;
        background-color: white;
        border: 3px solid #eaeced;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}