<div id="footer">
    <div id="container">
        <div id="novatech">
            <div id="content">
                <div id="title">
                    <span>Nova</span>
                    <span>Tech</span>
                </div>
                <div id="desc">
                    NOVATECH est une entreprise de service numérique et technologique spécialisée dans la création d'application web, mobile, desktop et de base de données; l'intelligence artificielle et l'analyse de données entre autre pour des études statistiques et prévisionnelles.
                </div>
            </div>
        </div>
        <div id="contacts">
            <div id="content">
                <div id="title">Contact</div>
                <div id="desc">
                    <div id="contact">
                        <div class="one">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Lomé, Togo</span>
                        </div>
                        <div class="one">
                            <i class="fas fa-phone-alt"></i>
                            <span>+228 90547829</span>
                        </div>
                        <div class="one">
                            <i class="far fa-envelope"></i>
                            <span>info@novatech.tg</span>
                        </div>
                    </div>
                    <div id="social">
                        <a routerLink=""><i class="fab fa-facebook-f"></i></a>
                        <a routerLink=""><i class="fab fa-instagram"></i></a>
                        <a routerLink=""><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="usefulLink">
            <div id="content">
                <div id="title">Liens utiles</div>
                <div id="desc">
                    <div id="left">
                        <a routerLink=""><i class="fas fa-chevron-right"></i> Accueil</a>
                        <a routerLink=""><i class="fas fa-chevron-right"></i> Contact</a>
                        <a routerLink=""><i class="fas fa-chevron-right"></i> A propos</a>
                    </div>
                    <div id="right">
                        <a routerLink=""><i class="fas fa-chevron-right"></i> Nos prix</a>
                        <a routerLink=""><i class="fas fa-chevron-right"></i> Nos services</a>
                        <a routerLink=""><i class="fas fa-chevron-right"></i> Nos projets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <span>Copyright © NovaTech. Tous droits réservés.</span>
    </div>
</div>
